@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
#setor1{
    background: rgba(48, 48, 48, 1);
    color: white;
    font-family: 'Inter';
    height:px;
    display: flex;
    flex-direction: column;
    padding: 90px;
    
}
 #titulo1{
    margin-bottom: 20px;
    font-size: 50px;
 }
 #titulo2{
    font-size: 20px;
 }
 #setor2{
    background: rgb(243, 240, 240);
    font-family: 'inter';
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding: 100px;
    
 }
 
 p{
    font-size: 15px;
 }

 #setor3{
    font-family: 'inter';
    display: flex;
 }

 #conteudos{
   margin-top: 250px;
   margin-left: 100px;
   margin-right: 300px;
 }

#formulario{
   background: rgba(48, 48, 48, 1);
   color: white;
   font-family: 'inter';
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px;
}

.input{
   font-size: 30px;
   width: 450px;
   height: 70px;
   border-radius: 10px;
   margin: 30px;
   padding-left: 30px;
}
#botao{
   background: rgba(192, 114, 18, 1);
   font-size: 30px;
   height: 70px;
   border: 0;
   border-radius: 10px;
   color: white;
   padding: 15px;

}

#botao:hover {
   cursor: pointer;
}